#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 90px;
}

#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}
.courses .course{
    flex-direction: column;
}
#contact .contact-form{
    max-width: 250;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}